.materials {
  &__container {
    @extend %flexColumn;
    align-items: center;
  }

  &__slider {
    overflow: visible;
  }

  &__text {
    @extend %text18;
    color: $greyLight;
    margin-bottom: 4rem;
    max-width: 90rem;
    text-align: center;
    position: relative;
    z-index: 10;
  }

  &__items {
    @extend %flexCenterBetween;
    column-gap: 4rem;
  }

  &__item {
    @extend %flexColumn;
    align-items: center;
    row-gap: 2rem;
    width: 41.7rem;
    transition: $transition;

    &.swiper-slide-active {
      transform: scale(1.15);
    }

    &:nth-child(2) {
      .materials__img {
        @include sizes(42rem, 42rem);
      }
    }
  }

  &__img {
    @include sizes(34rem, 34rem);
    filter: drop-shadow(6rem 12rem 15rem rgba(0, 0, 0, 0.13)) drop-shadow(-9rem -4rem 7rem #fff);
  }

  &__txt {
    @extend %text20;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 48em) {
  .materials {
    .container {
      padding: 0;
    }
    &__container {
      @extend %flexColumn;
      align-items: center;
    }

    &__text {
      margin-bottom: 8rem;
      font-size: 2.8rem;
      max-width: 100%;
      padding: 0 3.2rem;
    }

    &__items {
      @extend %flexCenterBetween;
      column-gap: 0;
      width: 75rem;
    }

    &__item {
      row-gap: 3rem;
      &:nth-child(2) {
        .materials__img {
          @include sizes(44rem, 44rem);
        }
      }
    }

    &__img {
      @include sizes(44rem, 44rem);
    }

    &__txt {
      font-size: 3.6rem;
    }
  }
}
