.projects {
  .title {
    margin: 0 auto 12.4rem auto;
    display: block;
    width: fit-content;
  }

  .swiper {
    overflow: visible;
  }

  @media screen and (min-width: 48em) {
    &__wrapper {
      margin-left: -7rem;
			height: 45.3rem
    }
  }

  &__slide {
    @include sizes(78.4rem, 42rem);
    transition: $transition;
    cursor: pointer;

    @media screen and (min-width: 48em) {
      opacity: 0.5;
    }

    &.swiper-slide-active {
      padding: 1.6rem 2rem 5.2rem 2rem;
      border-radius: 2.4rem;
      border: 1px solid #e7e5e5;
      background: #fff;
      margin-right: 7rem;
      height: 45.3rem;

      @media screen and (min-width: 48em) {
        transform: scale(1.1, 1.37);
        opacity: 1;
      }

      .projects__slide-img {
        @extend %fullSize;
      }

      .projects__slide-text {
        opacity: 1;
        visibility: visible;
      }
    }

    &:nth-child(1) {
      margin-left: 0;
    }

    &.swiper-slide-prev {
      margin: 0 7rem 0 0;
    }
  }

  &__slide-img {
    @extend %fullSize;

    img {
      height: 100%;
      border-radius: 2.4rem;
    }
  }

  &__slide-text {
    @extend %text20;
    margin-top: 0.8rem;
    opacity: 0;
    font-size: 1.83rem;
    visibility: hidden;
  }

  &__buttons {
    margin-top: 12.4rem;
  }
}

@media screen and (max-width: 48em) {
  .projects {
    .title {
      margin-bottom: 8rem;
    }

    .swiper {
      overflow: hidden;
    }

    &__buttons {
      margin-top: 4.8rem;
    }

    &__slide {
      height: 50rem;
      padding: 2.4rem 2.4rem 8.2rem 2.4rem;

      &.swiper-slide-prev {
        margin: 0;
      }

      &.swiper-slide-active {
        .projects__slide-img {
          height: 100%;
        }
      }
    }

    &__slide-text {
      margin-top: 1.6rem;
      font-size: 2.8rem;
      opacity: 1;
      visibility: visible;
    }
  }
}
