.projects {
  .title {
    margin: 0 auto 4rem auto;
    display: block;
    width: fit-content;
  }

  @media screen and (min-width: 48.1em) {
    &__wrapper {
      height: auto;
    }
  }

  &__slide {
    @include sizes(86.4rem, 62.1rem);
    transition: $transition;
    cursor: pointer;

    img {
      border-radius: 2.4rem;
    }

    @media screen and (min-width: 48.1em) {
      opacity: 0.5;
    }

    @media screen and (min-width: 48em) {
      &.swiper-slide-active {
        padding: 2.4rem 2rem 7.1rem 2rem;
        border-radius: 2.4rem;
        border: 1px solid #e7e5e5;
        background: #fff;

        @media screen and (min-width: 48.1em) {
          opacity: 1;
        }

        .projects__slide-img {
          width: 100%;
          height: 100%;
        }

        .projects__slide-text {
          opacity: 1;
          visibility: visible;
          font-size: 2rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }

  &__slide-img {
    @extend %fullSize;

    img {
      height: 100%;
      border-radius: 2.4rem;
    }
  }

  &__slide-text {
    @extend %text20;
    margin-top: 2rem;
    opacity: 0;
    font-size: 1.83rem;
    visibility: hidden;
  }

  &__buttons {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 48em) {
  .projects {
    .title {
      margin-bottom: 8.8rem;
    }

    .swiper {
      overflow: hidden;
    }

    &__buttons {
      margin-top: 4.8rem;
    }

    &__slide {
      @include sizes(68.6rem, 50.2rem);
      padding: 2.4rem 2.4rem 8.2rem 2.4rem;
      border: 1px solid #e7e5e5;
      background: #fff;

      &.swiper-slide-prev {
        margin: 0;
      }

      height: 50.2rem;
      border-radius: 4.4rem;

      .projects__slide-img {
        height: 100%;
      }

      .projects__slide-text {
        font-size: 2.8rem;
      }
    }

    &__slide-text {
      margin-top: 1rem;
      font-size: 2.8rem;
      opacity: 1;
      visibility: visible;
    }
  }
}
