body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  &.menu-open {
    overflow: hidden;

    .menu {
      top: 0%;
    }

    .header__burger {
      opacity: 0;
      visibility: hidden;
    }

    .header__close {
      opacity: 1;
      visibility: visible;
    }
  }
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  @extend %flexColumn;
  position: relative;
  min-height: 100%;
  overflow: hidden;
  background: url('@img/bg/marble.png');
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}

.title {
  @extend %h1;
  margin-bottom: 4.4rem;
  color: $blackLight;
}

@media screen and (max-width: 48em) {
  .title {
    margin-bottom: 8rem;
    font-size: 6rem;
    line-height: 140%;
  }

  .wrapper {
    background: url('@img/bg/marble-bg-mobile.png');
  }
}
