.menu {
  display: flex;
  column-gap: 21.2rem;

  &__list {
    @extend %flexCenterBetween;
    column-gap: 3.2rem;
  }

  &__link {
    @extend %text18;
    @extend %hover;

    &:hover {
      color: $black;
    }
  }
}

@media screen and (max-width: 48em) {
  .menu {
    &__list {
      flex-direction: column;
      row-gap: 6.4rem;
    }

    &__link {
      &.active {
        color: $blackLight;
      }
    }
  }
}
